<div style="direction: rtl; text-align: right;">
    <div class=" d-flex justify-content-around border p-2">
        <div>
            <input type="date" name="curdate" id="curdate" [(ngModel)]="curdate" (change)="seldate()" class="text-center text-primary font-weight-bold form-control">
        </div>
        <div>
            <button class="btn btn-primary" (click)="save()">Save xlsx</button>
        </div>
    </div>
      <table class="table table-striped table-striped table-responsive">
          <thead>
            <tr>
              <th colspan="2" class="text-center">
                  <h6>جمهورية العراق</h6>
                  <h6>وزارة التعليم العالي والبحث العلمي</h6>
                  <h6>جامعة البصرة</h6>
                </th>
              <th colspan="1">
                  <div class="d-flex justify-content-center">
                      <img src="../../../assets/universitylogo.jpg" style="width: 100px; height: 100px; margin: auto;" alt="">
                  </div>
              </th>
              <th colspan="1" class="text-center">
                  <h6>Republic of Iraq</h6>
                  <h6>Ministry of Higher Education</h6>
                  <h6>& Scientific Research</h6>
                  <h6>University of Basrah</h6>
              </th>
          </tr>
          <tr class="text-center text-info font-weight-bold">
              <th colspan="12">موقف الامتحان النهائي للدور الثاني للعام الدراسي <span style="direction: rtl;">2020-2021</span></th>
          </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">القسم</th>
              <th scope="col">عدد الامتحانات</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dprt of dprts; let i = index" style="cursor: pointer;" (click)="dprtexams(dprt)">
                <td>{{i+1}}</td>
              <th scope="row">{{dprt.name}}</th>
              <td scope="row" class="text-center text-warning font-weight-bold" *ngIf="dprts">{{dprt.exams2.length}}</td>
            </tr>
          </tbody>
      </table>
  </div>